body{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
.in-row{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* header styles */
.header{
  justify-content: space-around;
  align-items: center;
  background-color: #1b1f23;
}
.header-menu{
  display: none;
}
.header h1, .header p, .header-menu ul li a{
  color: #d8d8d8;
}
/* Media querie for header */
@media (min-width: 960px ){
  .header .menu-button{
    display: none;
  }
  .header-menu{
    display: flex;
  }
  .header-menu ul li{
    padding: 1em 1.5em; 
  }
  .header-menu ul li a:hover{
    color: #FFFFFF;
  }
  #selected-menu-item{
    background-color: #26ad60;
    border-radius: 0.8em;
  } 
}
/* Styles body */
.site-content{
  padding: 1em;
}
/* Styles select */
.category{
  color: #111133;
  max-width: calc(100% - 2em);
  margin: 1em;
}
.title-category{
  border-left: 6px solid #26ad60;
  text-transform: uppercase;
}
.title-category h3{
  margin-left: 1em;
}
.category .category-select #cat{
  width: 150px;
  height: 32px;
  border-color: #26ad60;
}

/* Principal content */
.primary-content-area{
  width:100%;
  margin: 1em;
}
.post-wrapper{
  max-width: calc(100% - 2em);
}
.post{
  margin-bottom: 3em;
}
.post .a-image .image-post{
  width: 100%;
}
.entry-content p{
  margin-bottom: 2.5em;
}
.entry-content a {
  padding: 1em 1.5em;
  background-color: #26ad60;
  border-radius: 0.8em;
  color: #d8d8d8;
}

/* number page */
.nav-links{
  margin: 4em 0 3em 0;
}
.page-number{
  margin-right: 0.3em;
  padding: 1em;
  background-color: #1b1f23;
  color: #d8d8d8;
  border-radius: 0.2em;
}
.page-number:hover{
  color: #FFFFFF;
  background-color: #282e33;
}
.current{
  color: #26ad60;
}
.current:hover{
  color: #26ad60;
  background-color: #1b1f23;
}

/* Footer */
.footer{
  background-color: #1b1f23;
  color: #d8d8d8;
  padding: 1.5em 2em;
}
.footer a{
  color: #d8d8d8;
}
.footer a:hover{
  color: #26ad60;
}
